<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon name="trail-sign-outline"></ion-icon>
     Plan a Trip
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-item>
    <ion-label class="ion-text-wrap" position="floating"> Place to Visit</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Date of Visit</ion-label>
    <ion-datetime displayFormat="MM/DD/YYYY" min="1994-03-14" max="2012-12-09"></ion-datetime>
  </ion-item>
  <ion-button click="gotoAnotherPage()" expand="full">Full Button</ion-button>
  

</ion-content>
